*,*::before,*::after {
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
}
.block{
    border: 2px solid black;
    width:90vw;
    height:90vh;
    display: flex;
    text-align: center;

}
.list{
    border:1px dotted lime;
    border-radius: 3px;
    flex-grow: 1;
    padding: 1rem;
    margin: 1rem;
    list-style-type: none;
}
.details{
    border:1px dashed red;
    border-radius: 3px;
    flex-grow: 5;
    padding: 1rem;
    margin: 1rem;
}