@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/anonymouspro/v19/rP2Bp2a15UIB7Un-bOeISG3pHls28A.ttf) format('truetype');
}
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts.gstatic.com/s/anonymouspro/v19/rP2cp2a15UIB7Un-bOeISG3pFuAT4C7c6A.ttf) format('truetype');
}
@font-face {
  font-family: 'Antic Slab';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/anticslab/v15/bWt97fPFfRzkCa9Jlp6IacVcWQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/cabincondensed/v17/nwpMtK6mNhBK2err_hqkYhHRqmwqZ-Ld.ttf) format('truetype');
}
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts.gstatic.com/s/cabincondensed/v17/nwpJtK6mNhBK2err_hqkYhHRqmwi3MfN61d9.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/droidsansmono/v19/6NUO8FuJNQ2MbkrZ5-J8lKFrp7pRef2u.ttf) format('truetype');
}
@font-face {
  font-family: 'Linden Hill';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/lindenhill/v20/-F61fjxoKSg9Yc3hZgO8yjFP5ig.ttf) format('truetype');
}
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/newscycle/v20/CSR64z1Qlv-GDxkbKVQ_fOAKSA.ttf) format('truetype');
}
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts.gstatic.com/s/newscycle/v20/CSR54z1Qlv-GDxkbKVQ_dFsvWNRevA.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(../fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(../fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/quattrocento/v15/OZpEg_xvsDZQL_LKIF7q4jP3w2j_.ttf) format('truetype');
}
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts.gstatic.com/s/quattrocento/v15/OZpbg_xvsDZQL_LKIF7q4jP_eE3vcKnd.ttf) format('truetype');
}

#sponsors, .sponsors, .sponsor, #links {display:none !important} #content {margin:0px !important} #forkbanner, #production {display:none !important} .module > * {max-width: none !important} .module {padding:30px !important} .controls {display:none !important} body {background:white !important} .homepage #links {display:block !important} #___gcse_0 {display:none !important} .module {border:none !important} .suffix {display:none !important} #mobile-menu, #menu {display:none !important} #content {margin: -11px 18px !important} h2:hover::before, h3:hover::before {display:none !important} #jobs {display:none !important} pre {overflow-x: scroll !important} .container {position:static !important; width:100% !important; padding-left:0 !important} ul {margin-top:0} html, body {font-size:16px} body, html {font-family: 'Open Sans';} h1 a::before, h2 a::before, h3 a::before, h4 a::before, a.anchor::before {opacity:0 !important}
