*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
}

header {
  border: 1px solid #000;
  height: 50px;
  display: flex;
  align-items: center;
}

header button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  margin-left: 1rem;
}

header button * {
  height: 100%;
  color: blueviolet;
}

article {
  border: 1px solid #000;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

article button.btn {
  padding: 0.3rem 0.5rem;
  color: white;
  background-color: blueviolet;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.modal {
  position: absolute;
  width: 90%;
  height: 15rem
}
