*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 10px;
  background: #ffaa22;
  font-family: monospace;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
}
.taskBox{
  border: 1px solid black;
  width:80vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ffaa22;
}
.taskForm{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffeeee;
  width:90%;
  padding:1rem 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 1rem;
}
.taskForm label{
  font-size: 2rem;
}
.taskForm div input{
  flex:1;
  font-size: 1.5rem;
}
.taskForm div label{
  flex:2;
}

.taskForm div{
  display: flex;
  justify-content: space-between;
  width:100%;
}
