*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 10px;
  background: #ffaa22;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
}
.taskBox{
  border: 1px solid black;
}
.taskForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #ffeeee;
}
.taskForm label{
  font-size: 3rem;
}
.taskForm div input{
  height: 100%;
  border: 1px solid red;
}
.taskForm div{
  min-width:400px;
  width:80vw;
  padding:0.5rem 1rem;
  flex:1;
}
